footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.keyboard-row {
  display: flex;
  gap: 5px;
}

.key-block {
  width: 35px;
  height: 45px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bolder;
}

.key-block__wider {
  width: 70px;
}
